

<link href= "css/dashboard.css "  rel ="stylesheet">

<div class="topnav" id ="myNavBar">
    <div> <a href="/">
    <img class="logo"src="images/FoodShark_logo1.png"> </a> 
    </div>
    <a class = "banner_title" href="/"><br>HOME</a>
    <a class = "banner_title" href="/package"><br>MEAL PACKAGE</a>
    <a class = "banner_title" href="/404"><br>ORDER</a>
    <a class = "banner_title" href="/404"><br>CONTACT</a>
    <a class = "banner_title" href="/login"><br>LOGOUT</a>
</div>

