<link  rel ="stylesheet" href= "css/home.css" type ="text/css" >

<div class="topnav" id ="myNavBar">
    <div> <a href="/">
    <img class="logo"src="images/FoodShark_logo1.png"> </a> 
    </div>

    <a class = "banner_title" href="/package"><br>Meal Package</a>
    <a class = "banner_title" href="/login"><br>Login</a>
    <a class = "banner_title" href="/registration"><br>Sign Up</a>
  
</div>


<!-- TESTING-->
<!-- <div class="homebanner"></div>-->

<!--Grid-->
<div class="parallax"></div>
<div class = "megawrapper">
<h3 class= "title1">Local Favourites</h3>

<div class ="wrapper">
  <div><a href="/CheeseCake">
  <img class ="div1"src="images/meals/Cheese Cake Factory.PNG" ></a>
  <h1>Cheese Cake Factory</h1><h2>Open•Free delivery</h2></div>
  <div><a href="/ChikFilA">
  <img class ="div1"src="images/meals/Chik-fil-A.PNG" ></a><h1>Chik-Fil-A</h1><h2>Open•Free delivery</h2></div>
  <div><a href="/Jollibee">
  <img class ="div1"src="images/meals/Jollibee.PNG" ></a><h1>Jolibee</h1><h2>Open•Free delivery</h2></div>
  <div><a href="/ManyiExpress">
  <img class ="div1"src="images/meals/Manyi Express.PNG" ></a><h1>Manyi Express</h1><h2>Open•Free delivery</h2></div>
</div>

<h3 class= "title1">New On FoodShark</h3>
<div class ="wrapper">
  <div><a href="/mcdonald">
  <img class ="div1"src="images/meals/mcdonald.PNG" ></a>
  <h1>Mcdonald</h1><h2>Open•Free delivery</h2></div>
  <div><a href="/AandW">
  <img class ="div1"src="images/meals/aandw.PNG" ></a><h1>A&W</h1><h2>Open•Free delivery</h2></div>
  <div><a href="/Subway">
  <img class ="div1"src="images/meals/sub.PNG" ></a><h1>Subway</h1><h2>Open•Free delivery</h2></div>
  <div><a href="/TimHortons">
  <img class ="div1"src="images/meals/tim.PNG" ></a><h1>Tim hortons</h1><h2>Open•Free delivery</h2></div>
</div>

<div class="chef"> 
<div class="chef_description"><br><br>Don't Have The Time?<br>Let Us Do It For You!</div>
<div><img class="chef_photo"src="images/chef/veggie.png"></div></div>
</div>

<h3 class= "title1">Top Meal Package</h3>
<div class ="wrapper">
  <div><a href="/mcdonald">
  <img class ="div1"src="images/packages/1.PNG" ></a>
  </div>
  <div><a href="/AandW">
  <img class ="div1"src="images/packages/2.PNG" ></a></div>
  <div><a href="/Subway">
  <img class ="div1"src="images/packages/3.PNG" ></a></div>
  <div><a href="/TimHortons">
  <img class ="div1"src="images/packages/4.PNG" ></a></div>
</div>

</div>
<!-- FOOTER -->
<div class="footer">
  <div class="row">
  <br><h4> Follow us for the latest deals</h4>
  <br>

  <div><a href="/instagram">
  <img class ="smedia"src="images/socialmedia/instagram.png" ></a>
  </div>

    <div><a href="/facebook">
    <img class ="smedia"src="images/socialmedia/facebook.png" ></a>
    </div>

    <div><a href="/twitter">
    <img class ="smedia"src="images/socialmedia/twitter.png" ></a>
    </div>
 </div>
</div> 