

<link href= "css/package.css "  rel ="stylesheet">
<div class="topnav">
<a href="/package">Meal Package</a>
<a href="/registration">Sign Up</a>
<a href="/login">Login</a>
</div>

<div class ="product-banner">
    <div class="product-text">
        <p1><br><br> <br> 
        
    </div>
</div>

<!-- SIDE NAV IN PROGRESS

<div class="sidenav">
  <a href="/keto">Keto</a>
  <a href="/animal_Lover">Vegitarian & Vegan</a>
  <a href="/muscle">Muscle Gain</a>
  <a href="/far_burner">Fat Burner</a>
  
</div>
-->

<div class ="title">
  <h2>
    Your Journey Starts Here
  </h2>
</div>

<!-- GRID -->
<div class ="wrapper">
<div><a href="/vegetarian">
  <img class ="div1"src="images/packages/vegitarian.PNG" ></a>
  <h1>Vegetarian  </h1>
  <h2>Balanced diet with a twist for all you animal lovers, no meat, that's right , NO MEAT ! <br>
    Price:$19.99 <br>
    Number of meals in package:5
  </h2>
</div>
<div><a href="/keto">
  <img class ="div1"src="images/packages/keto.PNG" ></a>
  <h1>Keto</h1>
  <h2>No carbs,all fat and proteins to trick that body into refueling itself with your fats. You'll probably be in time for that beach bod.
    <br>Price:$19.99 <br>
    Number of meals in package:3
  </h2>
</div>
<div><a href="/gains">
  <img class ="div1"src="images/packages/gains.PNG" ></a>
  <h1>Muscle Gain</h1>
  <h2>A well balance diet of carbs,fats, and protein . You know the saying "All for the gains" <br>
  Price:$19.99 <br>
  Number of meals in package:4</h2>
</div>
<div><a href="/meat_lover">
  <img class ="div1"src="images/packages/meat_lover.PNG" ></a>
  <h1>Meat Lover</h1>
  <h2>Low to no carbs diet, strictly meat because we are barbarians.<br>Price:$19.99 <br> Number of meals in package:3</h2>
</div>
</div>
<!--FOOTER -->
<div class="footer">
  <h1>Follow us for the latest news</h1>
  <br><p>instagram : https://www.instagram.com/FoodShark/ <br>
  https://twitter.com/FoodShark
  </p>
 
</div>