
<link href= "css/registration.css "  rel ="stylesheet">

<!-- Will only show if the errors array exists-->
{{#each errors}}

    <div >{{this}}</div>
{{/each}}


<!--This will only show if the successMessage was injected into the view -->
<div><center>{{successMessage}}  </center></div>

<div class= "sign_up">
    <h1> Create account</h1>
    <form action="/registration" method="POST"  >

        <label for="yourName">Your Name</label>
        <input type="text" id="yourName" name="yourName"  value ="{{form.nameholder}}"> <br>
        <!--<br>
        <label name="name_val" id="name_val"></label> -->

        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="{{form.emailholder}}"> <br>
       <!-- <br>
        <label name="email_val" id="email_val"></label> -->

        <label for="password">Password</label>
        <input type="password" name="password" placeholder=" Must include uppercase,lowercase and a num"></textarea><br><br>
        <!--<br>
        <label name="pass_val" id="pass_val"></label> -->

        <label for="password2">Re-enter password</label>
        <input type="password" name="password2"></textarea><br><br>
        <!--<br>
        <label name="pass2_val" id="pass2_val"></label> -->

        <input type="submit" value="Create Your FoodShark account">

    </form>
    <h2>By creating an account, you agree to FoodShark's <a href="/condition"> Condition of Use </a> and <a href="/privacy"> Privacy Notice </a>.</h2>
    <h3>Already have an account? <a href="/login"> Sign-In </a></h3>
</div>

