
<link href= "css/registration.css "  rel ="stylesheet">

<div> <a href="/">
<img class="logo"src="images/FoodShark_logo.png"> 
</a> </div>

<!--This will only show if the successMessage was injected into the view -->
<div><center>{{successMessage}}  </center></div>


<div class= "sign_up">
<h1> Create account</h1>
<form action="/registration" method="POST"  >

<!-- Will only show if the errors array exists-->
{{#each errors}}
<div >{{this}} </div>
{{/each}}

<label for="yourName">Your Name</label>
<input type="text" id="yourName" name="yourName"  value ="{{form.nameholder}}"> <br>
        
<label for="email">Email</label>
<input type="text" id="email" name="email" value="{{form.emailholder}}"> <br>


<label for="password">Password</label>
<input type="password" name="password" placeholder=" Must include uppercase,lowercase and a num"></textarea><br><br>

<label for="password2">Re-enter password</label>
<input type="password" name="password2"></textarea><br><br>

<input type="submit" value="Create Your FoodShark account">

</form>
<h2>By creating an account, you agree to FoodShark's <a href="/condition"> Condition of Use </a> and <a href="/privacy"> Privacy Notice </a>.</h2>
<h3>Already have an account? 
<a href="/login"> Sign-In </a></h3>
</div>

