@charset "UTF-8";
.topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f7f3f3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Change the color of links on hover */
  .topnav a:hover 
  {
    background-color: #ddd;
    color: black;
  }
 /* home banner */
 .homebanner
 {
    width: 100%;
    height:300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/images/home/Capture.PNG);
 } 
 /*footer*/
 .footer {
  width: 100%;
  height:100%;
  background-color: rgb(0, 0, 0);
  background-size:cover;
  color: white;
  text-align: center;
  font-size: 15px;
}


  /*GRID*/
  .wrapper{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap:0.1em;
  }
  .wrapper >div{
    background: #fffdfd;
    padding:0.5em;
  }
  .wrapper>div>img{
    width: 100%;
    height: auto;
  }
  .wrapper>div>h1
  {
    font-size: 14px;
    font-style: italic;
  }
  .wrapper>div>h2{
    font-size: 14px;
    color:rgb(87, 84, 84);
  }
  .title1{
    font-size:  15px;
    font-style: initial;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: absolute;
  }
  h1:after {
    content:"";
    display:block;
    width:120px;
    height:0.5px;
    background:rgb(194, 188, 188);
    position:absolute;
  }
.wrapper:after {
    content:"";
    display:block;
    width:100%;
    height:0.5px;
    background:rgb(194, 188, 188);
    position:absolute;
  }
  .megawrapper {

    display:grid;
    grid-template-columns: 100%;
    background: #ffffff;
    
  }
  .chef {
    display:grid;
    grid-template-columns: 30% 70%;
    grid-gap:0.1em;
  }
  div.chef_description
{
  background-color:gray;
  padding: 20px;
}
div.chef_photo
{
  background-color:orange;
  padding: 20px;
}
 /* CSS QUERY */
 /*mobile */
 @media only screen and (max-width: 800px) {
 [class*="div"] 
  {
  width: 100%;
  }
  .wrapper{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2;
    grid-gap:0.1em;
  }
}
/* Remvoes chef description / photo once it reaches phone size px */
@media screen and (max-width: 800px) {
  div.chef {
    display: none;
  }
}
/*Tablets to Desktop */
@media only screen and (min-width: 801px) {
  [class*="div"] 
   {
   width: 100%;
   }
 }


