
*{
    box-sizing: border-box;
}
body{
    margin:0;
    height:100vh;
    width:100vw;
    overflow:hidden;
    font-family: sans-serif;
    font-weight:700;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#555;
    background:#ecf0f3;
}


.sign_up{
    width: 500px;
    height: 780px;
    padding: 60px 35px 35px 35px;
    border-radius:60px;
    background:#ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
            -13px -13px 20px #ffffff;
    
    }

.sign_up h1{
color:rgb(145, 17, 17);
text-align: center;
font-weight: normal;

}

.sign_up h2{
margin-left:5%;
margin-right:5%;
font-size: x-small;
font-weight: lighter;
}

.sign_up h3{
margin-left:5%;
margin-right:5%;
font-size: small;
font-weight: lighter;
}
/* Text box for fields
.sign_up input[type="password"],
    .sign_up input[type="text"] {
    width: 90%;
     margin-left:5%;
     margin-right:5%;
    padding: 8px;
    border: 1px solid #b6b3b3;
    margin-bottom: 15px;
    box-sizing:border-box;
    font-size: 14px;
}
*/
.error
{
color : red;
}
.yourName,.email,.password,.password2{
margin-left:auto;
margin-right:auto;;
font-size: 10px;
font-weight: bold;

margin-bottom:20px;
border-radius: 25px;
box-shadow: inset 8px 8px 8px #cbced1,
            inset -8px 8px 8px #ffffff;
}

/*
.sign_up input[type="submit"]{
    
    width: 82%;

    padding: 10px;
    text-align: center;
    margin-left:10%;
     margin-right:20%;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    color: #1a1212;
    background: linear-gradient(var(--bg-angle), var(--bg-start), var(--bg-end));
  ;
 
 
}*/
.sign_up input[type="submit"]
{
  outline:none;
  border:none;
  cursor:pointer;
  width:100%;
  height: 40px;
  border-radius: 30px;
  font-size:20px;
  font-weight:600;
  font-family: sans-serif;
  color: #ffffff;
  text-align: center;
  background:rgb(8, 241, 164);
  box-shadow: 3px 3px 8px #b1b1b1,
             -3px -3px 8px #ffffff;
}
.sign_up input[type="submit"]:hover {
    opacity: 0.8;
}

.logo
{
    background:url("/images/FoodShark_logo3.png");
    background-size: cover;
    width:120px;
     height:120px;
     display: block;
     border-radius: 50%;
     margin:0 auto;
     box-shadow:
                /* logo Shadow*/
                0px 0px 2px #5f5f5f,
                /* off set */
                0px 0px  2px 5px #ecf0f3,
                /*bottom right */
                8px 10px 15px #a7aaaf,
                /*top left */
                -8px -8px 15px #ffffff;
}

.fields 
{
    width: 100%;
    padding:0.5px 1px 1px 1px;
}

.fields input 
{
    border:none;
    outline:none;
    background:none;
    font-size:18px;
    color: #555;
    padding: 8px 8px 20px 5px;
}

.fields svg
{
    height:20px;
    position: relative;
    margin: 0px 10px 10px;
   left:16px;
   top:13px;
}